/*
 * Copyright (c) 2020 George Gkinis
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		hx711-sensor = &hx711_label;
	};

	hx711_label:hx711_node {
		compatible = "avia,hx711";
		status = "okay";
		dout-gpios = <&gpioj 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		sck-gpios = <&gpiof 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
	};
};
